* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

header {
    background-color: #009688;
    height: 100px;
    padding: 2.5rem;
    display: flex;
    flex: row;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #eaeaea;
    width: 300px;
    margin-left: 10%;
    height: 60px;
}

.head_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #eaeaea;
    width: 700px;
    height: 60px;
}

img {
    margin: 5px 10px;
    height: 50px;
    border-radius: 50%;
    vertical-align: bottom;
}

.img>span {
    vertical-align: middle;
    line-height: 60px;
}

.Fa_ICON>.fas {
    padding: 5px;
    margin-top: 15px;
    height: 30px;
    color: grey;
}

main {
    background-color: #dcdbd3;
    height: 400px;
}

aside {
    margin-left: 11.65%;
    width: 300px;
}

.message {
    background-color: #8edafc;
    height: 70px;
    display: flex;
    flex-direction: row;
    padding: .5rem;
}

.whitecircle {
    width: 3rem;
    height: 50px;
    border-radius: 50%;
    background-color: white;
}

.fa-bell-slash {
    padding-top: 1rem;
    padding-left: .8rem;
    color: #8edafc;
}

.div {
    padding-top: .5rem;
    padding-left: .5rem
}

.div>a {
    color: grey;
}

.search {
    height: 40px;
    background-color: #fafafa;
    padding: .3rem .6rem;
}

.input {
    height: 30px;
    background-color: white;
    width: 280px;
    padding: 6px 3px;
    color: grey;
}

.input>input {
    margin: 1px;
    border: none;
    width: 250px;
}