* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

header {
    background-color: #009688;
    height: 100px;
}

main {
    background-color: #dcdbd3;
    height: 400px;
    position: relative;
}

aside {
    margin-left: 10%;
    width: 300px;
}

.img {
    width: 300px;
    position: absolute;
    top: -15%;
    left: 10%;
    background-color: #eaeaea;
    border-right: 1px solid grey;
    height: 60px;
}

img {
    padding-top: 5px;
    height: 50px;
    border-radius: 50%;
    vertical-align: bottom;
}

.img>span {
    vertical-align: middle;
    line-height: 45px;
}

.Fa_ICON>.fas {
    line-height: 50px;
    padding: .5rem;
    height: 30px;
    color: grey;
}

.Fa_ICON {
    position: absolute;
    top: -16%;
    left: 20%;
}

.message {
    background-color: #8edafc;
    height: 70px;
    display: flex;
    flex-direction: row;
    padding: .5rem;
}

.whitecircle {
    width: 3rem;
    height: 50px;
    border-radius: 50%;
    background-color: white;
}

.fa-bell-slash {
    padding-top: 1rem;
    padding-left: .8rem;
    color: #8edafc;
}

.div {
    padding-top: .5rem;
    padding-left: .5rem
}

.div>a {
    color: grey;
}

.search {
    height: 40px;
    background-color: #fafafa;
    padding: .3rem .6rem;
}

.input {
    height: 30px;
    background-color: white;
    width: 280px;
    padding: 6px 3px;
    color: grey;
}

.input>input {
    margin: 1px;
    border: none;
    width: 250px;
}